body {
    display: flex;
    justify-content: center;
    background-color: wheat;
}
.main1 {
    width: 500px;
    height: 515px;
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
}

.main2 {
    width: 300px;
    height: 502px;
    margin-left: 1px;
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    border: 8px solid rgb(39, 39, 39);
}

.screen {
    height: 490px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
    background-color: rgb(72, 72, 243);
}

p {
    color: wheat;
    margin: 3px 5px 0px 0px;
}

.fn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#result {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 60px;
}

.inter {
    display: flex;
    width: 481px;
    height: 496px;
    border-radius: 10px;
    padding: 3px;
    border: 8px solid rgb(39, 39, 39);
}
.kpad1 {
    width: 546px;
    height: 502px;
    border-radius: 10px;
}

.k1r1 {
    display: flex;
    height: 99px;
    border-radius: 10px;
}

.btn1 {
    color: wheat;
    background-color: rgb(39, 39, 39);
    width: 97px;
    border-radius: 10px;
    font-size: 50px;
}

.kpad2 {
    width: 146px;
    height: 502px;
    border-radius: 10px;
}

.btn2 {
    color: wheat;
    background-color: rgb(39, 39, 39);
    width: 92px;
    height: 99px;
    border-radius: 10px;
    font-size: 75px;
}

.btn3 {
    color: wheat;
    background-color: rgb(39, 39, 39);
    width: 92px;
    height: 199px;
    border-radius: 10px;
    font-size: 75px;
}

.btn4 {
    color: wheat;
    background-color: rgb(39, 39, 39);
    width: 97px;
    border-radius: 10px;
    font-size: 75px;
}

button:hover {
    color: white;
}

.frame {
    border: 1px dotted blue;
}